---
---

/* CONFIGURATION */

/* Bodytext font */
$font: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #666666;
$textmuted: #999999;
$accent: #0078ce;

// Import partials from `sass_dir` (defaults to `_sass`)
/* IMPORT CSS FILES */
@import
	"animate",
	"article",
	"base",
	"bootstrap",
	"icons",
	"nav",
	"responsive",
	"syntax"
;