@media (max-width: 1000px) {
    
    .tagline span {
        display:none;
    }
    
    .container > header, .container > section, .container > footer {
        padding:0;
        margin:1.5em 10%;
    }
    
    .container > section {
        padding-bottom:1.5em;
    }

}

@media (max-width: 720px) {
    
    article {
        padding-top:30px;
        
        .container > header, .container > section, .container > footer {
            padding:0;
            margin:1.5em 10%;
        }
        
        .container > footer {
            padding:2em 0;
        }
        
        .full, pre {
            margin:1em 0;
        }
        
        pre {
            padding:1em;
        }
        
        blockquote {
            margin:1em 0;
            
            p {
                font-size:1em;
            }
        }
        
        h1 {
            font-size:1.8em;
        }
        
        h2 {
            font-size:1.4em;
        }
        
        p {
            font-size:0.9em;
        }
    }
    
    .blog-cover {
        height:200px;

        img {
            height:200px;
            width:auto;
        }
        
        section {
            padding:60px 0 0;
            text-align:center;
            
            a {
                margin:0.5em;
            }
        }
        h1 {
            font-size:1.5em;
        }
        
        h3 {
            font-size:1em;
        }
    }


.site-nav {
    top:20px;
    background:#fff;
    height:40px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:100;
    
    nav {
        padding:5px 30px;
        float:right;
        height:40px;
        display:table-cell;
    }
    
    #navigation {
        padding-right:0;
        
        > a, .dropdown-toggle  {
            color:#666666;
            border:0;
            font-weight:600;
            font-size:10px;
            display:inline-block;
        }
    }



    }
    
    .site-nav .tagline span {
        display:none;
    }
    

    
    .site-footer {
        margin-top:0;
        padding:2em 10%;
        text-align:center;
        
        nav {
            display:block;
            float:none !important;
            padding:1em;
        }
    }
    
    .index {
        padding:0;
        margin:0 10%;
        
        > div {
            margin:0;
        }
        
        img {
            display:none;
        }
    }
}