---
layout: base
---


{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}


<!-- {% if page.title == 'SERVICES' %}
<div class="intro-header" style="background-image:url(/images/IMG_7404.png);">
</div>
<br></br>
{% endif %}

{% if page.title == 'ABOUT' %}
<br></br><br></br>
<center>
	<div class=".img-responsive">
	    <img src="/images/forsa_explanation.jpg">
	</div>
</center>
{% endif %} -->


 

<div class="container">
    <section>
        {{ content }}
    </section>

</div>

